body {
  font-family: 'Comic Sans MS', 'Georgia';
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  width: 100%;
}

.quiz-header h1 {
  color: slategray; 
  margin-bottom: 70px; 
  font-size: 2.5em; 
}

.quiz-container {
  font-size: 1.3em; 
  width:800px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  padding: 40px;
}

.question-label {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-family: 'Arial';
  margin-bottom: 55px;
  align-items: center;
  justify-content: center;

}

.text-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.submit-button {
  padding: 10px 20px;
  background-color: slategray;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial';
}

.option-button:hover {
  background-color: indianred;
} 

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  margin-top: 20px; 
}

.option-button {
  margin-right: 15px; 
  margin-left: 15px;
  font-size: 1em;
  font-family: 'Arial';
  width: auto; 
  padding: 10px 20px; 
  background-color: slategray;
  color: white;
  border-color: white;
}

.score-text {
  color: indianred;
}

.error-message {
  color: indianred;
  margin-top: 20px;
}

.restart-quiz {
  color: white;
  background-color: indianred;
}
