body {
  font-family: 'Arial', 'Georgia';
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  width: 100%;
}

.quiz-header h1 {
  color: slategray;
  margin-bottom: 60px; 
  font-size: 2.5em;
  font-family: 'Comic Sans MS', 'Arial';
}

.quiz-container {
  font-size: 1.2em;
  width: 90%;
  max-width: 800px;
  height: auto; 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.question-label {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  font-family: 'Arial';
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.option-button {
  font-family: 'Arial';
  margin: 12px;
  padding: 10px 20px;
  background-color: slategrey;
  color: white;
}

 /* Hover styles only for devices that support hover  */
@media (hover: hover) and (pointer: fine) {
  .option-button:hover {
    background-color: indianred;
  }
}


.text-input {
  display: block;
  width: 95%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.submit-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: slategray;
  color: white;
}

.score-text {
  color: indianred;
  font-size: 1.3em;
  font-family: 'Comic Sans MS', 'Arial';
}

.error-message {
  color: indianred;
  margin-top: 20px;
}

.final-score {
  font-size: 1.3em;
}

.restart-quiz {
  color: white;
  background-color: indianred;
}

/* Media Queries */
@media (min-width: 1024px) {
  .quiz-container {
    width: 700px;
    height: 300px; /* Shorter fixed height for larger screens */
  }
}

@media (max-width: 600px) {
  .quiz-header h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 375px) {
  .quiz-header h1 {
    font-size: 1.3em;
  }
}
